* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
}

.logo a{
    text-decoration: none;
}

.bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.bar a {
    display: flex;
    margin: 1vh 2.7vw;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.bar a:hover {
    color: green;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 90px auto;
    margin-top: 30px;
}

.heading {
    display: inline-block;
    justify-content: center;
    position: relative;
    margin: 90px auto;
    margin-bottom: 20px;
    margin-left: 45%;
}

.heading h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .card1 {
    display: flex;
    width: 90vw;
    margin: 10px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card1 img {
    margin: 0px 24px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container .card2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 10px auto;
}

.container .card2 img {
    margin: 0px 35px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container .card3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 10px auto;
}

.container .card3 img {
    margin: 0px 35px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.1);
}

.line1 {
    display: flex;
    justify-content: center;
    margin: 7px auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.line1 p {
    font-weight: bold;
    cursor: pointer;
    margin: 7px 170px;
}

.line2 {
    display: flex;
    justify-content: center;
    margin: 7px auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.line2 p {
    font-weight: bold;
    cursor: pointer;
    margin: 7px 180px;
}

.line3 {
    display: flex;
    justify-content: center;
    margin: 7px auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.line3 p {
    font-weight: bold;
    cursor: pointer;
    margin: 7px 180px;
}

.line4 {
    display: flex;
    flex-wrap: wrap;
    margin: 7px auto;
    justify-content: center;
}

.line4 p {
    font-weight: bold;
    cursor: pointer;
    margin: 7px 180px;
}

.footer {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    height: 40px;
    width: 100%;
    background-color: green;
    color: white;
    font-family: 'Crimson Text', serif;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

#myBtn {
    position: fixed;
    bottom: 5vh;
    left: 95vw;
    z-index: 10;
    font-size: 15px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 5%;
    opacity: 0.7;
    font-size: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#myBtn:hover {
    color: #000;
}